body, .webgis-container {
    --webgis-brand-primary:       #6a7981;
    --webgis-brand-primary-light: #ffdc00;
    
    /* Text */
    --webgis-ui-text-selected: #000;
    
    /* Border */
    --webgis-ui-border-width-item-selected: 2px;
}

/* optional: different color for unselected presention containers */
.webgis-presentation_toc-title {
    background-color: #ffffb3;
}